@import 'colors';

.btn_update{
    border: none;
    color:$btn_color_update;
   
}

.btn_delete{
    border:none;
    color:$btn_color_delete;
}
.btn_add{
    border: none;
    color:$btn_color;
    background-color:$btn_bg_color_add;
}